.appearing-component {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    display: flex;
    justify-content: center;
  }
  
  .appearing-component.visible {
    opacity: 1;
    transform: translateX(0);
    display: flex;
    justify-content: center;
  }
